.dropdown {
    /* without this absolute positioning, the menu will expand within a parent container instead of on top */
    position: absolute;
}

.dropdown:hover {
    background-color: #111;
}

.dropdown-content {
    /* display originally none to hide the menu until hover event */
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6rem;
    z-index: 1;
}

.dropdown-content ul li{
    width:100%;
}

.dropdown-content ul li a {
    text-align: left;
    padding: 0.75rem 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}