ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    overflow: auto;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li:hover{
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.topNav {
    margin-bottom: 0;
}