ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;
    background-color: #333;
    /* width: 5rem; */
    /* width property will make navbar vertical */
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li:hover{
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}